In [160]:
import numpy as np
import matplotlib as plt
import csv
import pandas as pd
import locale
locale.setlocale(locale.LC_MONETARY, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [161]:
csv = pd.read_csv('./Planilha12003a2022.csv',encoding_errors='ignore', delimiter=';')

csv['DATA PGTO'] = csv['DATA PGTO'].str.replace('At ', '')
csv = csv.loc[csv['DATA PGTO'].str.contains('\d+\/\d+\/\d+', regex=True)]
csv['DATA PGTO'] = pd.to_datetime(csv['DATA PGTO'], format='%d/%m/%Y')
csv['VALOR'] = csv['VALOR'].str\
    .replace('R\$ ', '', regex=True)\
    .replace('\.', '', regex=True)\
    .replace(' ', '', regex=True)\
    .replace(',', '.', regex=True)\
    .where(lambda x: x!='-')\
    .astype(float)
    # .astype(float)

csv

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
0,2003-01-02,***.010.008-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1696.90,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
1,2003-01-02,***.010.008-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1336.60,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
2,2003-01-02,***.868.251-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1396.43,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N
3,2003-01-03,***.004.131-**,5.927170e+11,FLORES ALVORADA,8585.00,C,OUTROS SERVIOS DE TERCEIROS-PESSOA JURDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
4,2003-01-03,***.004.131-**,8.393080e+11,CRISTAL LIMPEZA - COMRCIO DE MATERIAIS PARA LIMPE,251.50,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
...,...,...,...,...,...,...,...,...
113336,2022-12-03,***.136.591-**,3.987994e+13,BIOMUNDO 105 NORTE COMERCIO DE ALIMENTOS,54.95,C,GENEROS DE ALIMENTAO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113337,2022-12-04,***.136.591-**,4.750841e+13,COMPANHIA BRASILEIRA DE DISTRIBUIO,518.07,C,GENEROS DE ALIMENTAO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113338,2022-12-04,***.136.591-**,1.255044e+13,RESTAURANTE SOHO,330.52,C,FORNECIMENTO DE ALIMENTAO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113339,2022-12-04,***.136.591-**,3.696869e+12,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,54.66,C,GENEROS DE ALIMENTAO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113341,2022-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
csv['VALOR']

0         1696.90
1         1336.60
2         1396.43
3         8585.00
4          251.50
           ...
113336      54.95
113337     518.07
113338     330.52
113339      54.66
113341        NaN
Name: VALOR, Length: 113341, dtype: float64

# Mandato Lula 1

In [163]:
inicio = pd.Timestamp(2003, 1, 2)
fim = pd.Timestamp(2006, 12, 30)
compras_lula1 = csv.loc[(csv['DATA PGTO'] >= inicio) & (csv['DATA PGTO'] <= fim)]
compras_lula1

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
0,2003-01-02,***.010.008-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1696.90,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
1,2003-01-02,***.010.008-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1336.60,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
2,2003-01-02,***.868.251-**,3.134920e+13,JW TRANSPORTADORA TURSTICA,1396.43,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N
3,2003-01-03,***.004.131-**,5.927170e+11,FLORES ALVORADA,8585.00,C,OUTROS SERVIOS DE TERCEIROS-PESSOA JURDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
4,2003-01-03,***.004.131-**,8.393080e+11,CRISTAL LIMPEZA - COMRCIO DE MATERIAIS PARA LIMPE,251.50,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
...,...,...,...,...,...,...,...,...
29149,2006-12-29,***.262.471-**,3.290462e+13,DIANA BABY - COMRCIO DE ARTIGOS INFANTIS LTDA.,24.99,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAO,00200.004779/2006-80.R.08.29/11/2006.31/12/2014.N
29150,2006-12-30,***.262.471-**,1.601043e+13,SANTA MARTA DISTRIBUIDORA DE DROGAS LTDA.,51.80,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAO,00200.004779/2006-80.R.08.29/11/2006.31/12/2014.N
29151,2006-12-30,***.262.471-**,1.911789e+12,PEIXARIA GOLFINHO - EPP (PEIXARIA DA DONA NEGA),3982.65,C,GENEROS DE ALIMENTAO,00200.004779/2006-80.R.08.29/11/2006.31/12/2014.N
29152,2006-12-30,***.262.471-**,4.750841e+13,COMPANHIA BRASILEIRA DE DISTRIBUIO,382.60,C,GENEROS DE ALIMENTAO,00200.004779/2006-80.R.08.29/11/2006.31/12/2014.N
29153,2006-12-30,***.262.471-**,1.442096e+12,ZANELLO IND. E COMRCIO DE MASSAS ALIMENTCIAS LTDA,74.14,C,GENEROS DE ALIMENTAO,00200.004779/2006-80.R.08.29/11/2006.31/12/2014.N

In [164]:
total_lula1 = compras_lula1['VALOR'].sum()
qnt_lula1 = compras_lula1.size

**No governo Lula 1 foram gastos:**

In [165]:
locale.currency(total_lula1)

'R$ 22050636,06'

**Foram feitas 233.232 compras no cartÃ£o corporativo.**

In [166]:
qnt_lula1

233232

 # Mandato Lula 2

In [167]:
inicio = pd.Timestamp(2007, 1, 2)
fim = pd.Timestamp(2010, 12, 30)
compras_lula2 = csv.loc[(csv['DATA PGTO'] >= inicio) & (csv['DATA PGTO'] <= fim)]
total_lula2 = compras_lula2['VALOR'].sum()
qnt_lula2 = compras_lula2.size
compras_lula2

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
29156,2007-01-02,***.004.131-**,4.750841e+13,COMPANHIA BRASILEIRA DE DISTRIBUIO,1348.65,C,GENEROS DE ALIMENTAO,00200.000053/2007-59.R.08.30/12/2006.31/12/2014.N
29157,2007-01-02,***.004.131-**,4.750841e+13,COMPANHIA BRASILEIRA DE DISTRIBUIO,969.15,C,GENEROS DE ALIMENTAO,00200.000053/2007-59.R.08.30/12/2006.31/12/2014.N
29158,2007-01-02,***.004.131-**,4.750841e+13,COMPANHIA BRASILEIRA DE DISTRIBUIO,92.21,C,GENEROS DE ALIMENTAO,00200.000053/2007-59.R.08.30/12/2006.31/12/2014.N
29159,2007-01-02,***.004.131-**,1.361363e+12,STAR CLEAN LAVANDERIA LTDA,475.00,C,SERVIOS DOMSTICOS,00200.000053/2007-59.R.08.30/12/2006.31/12/2014.N
29160,2007-01-02,***.004.131-**,2.498011e+12,BRASLIA NUTICA LTDA - EPP,486.00,C,MATERIAL DE CAA E PESCA,00200.000053/2007-59.R.08.30/12/2006.31/12/2014.N
...,...,...,...,...,...,...,...,...
65861,2010-12-30,***.262.471-**,2.730992e+12,KI FESTO CONFEITARIA LTDA,296.00,C,MATERIAL DE ACONDICIONAMENTO E EMBALAGEM,00150.001802/2010-01.R.08.27/11/2010.31/12/2014.N
65862,2010-12-30,***.262.471-**,1.610583e+12,DISTRIBUIDORA DE CARNE MORRO BRANCO LTDA - ME,3043.34,C,GENEROS DE ALIMENTAO,00150.001802/2010-01.R.08.27/11/2010.31/12/2014.N
65863,2010-12-30,***.262.471-**,1.610583e+12,DISTRIBUIDORA DE CARNE MORRO BRANCO LTDA - ME,1160.46,C,GENEROS DE ALIMENTAO,00150.001802/2010-01.R.08.27/11/2010.31/12/2014.N
65864,2010-12-30,***.570.341-**,7.653576e+13,BRASIL TELECOM S/A - FILIAL CRT,504.23,D,SERVIOS DE TELECOMUNICAES,00150.001812/2010-39.R.08.27/11/2010.31/12/2014.N
65865,2010-12-30,***.570.341-**,7.653576e+13,BRASIL TELECOM S/A - FILIAL CRT,455.73,D,SERVIOS DE TELECOMUNICAES,00150.001812/2010-39.R.08.27/11/2010.31/12/2014.N

**No governo Lula 2 foram gastos:**

In [168]:
locale.currency(total_lula2)

'R$ 21924453,96'